@mixin btn($bg-color :#e2e2e2, $border-style: none){
        border: $border-style;
        padding: $base-padding;
        margin: $base-margin;
        border-radius: $base-border-radius;
        text-decoration: none;
        cursor: pointer;
        background-color: $bg-color;
}

.btn{
    @include btn;
}

@each $key, $val in $colors{
    .btn-#{$key}{
        @include btn($val);
        &:hover{
          background-color: lighten($val,10%);
        }
    }
    .btn-outlined-#{$key}{
        @include btn(white, $val solid $base-border-thickness);
        &:hover{
            background-color: $val;
        }
    }
    .btn-complement-#{$key}{
        @include btn($val);
        color: light-comp($val);
        &:hover{
            color: $val;
            background-color: light-comp($val);
        }
    }
}

